html {

    background-color: #b0a36f;
    background-image: url(Resource/border.png);
}

Body {

    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;

}

nav {

    padding: 30px;
    margin-left: auto;
    margin-right: auto;

}

a {

    padding: 39px;
    font-size: 15pt;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    text-decoration-color: aliceblue;
}

a:link,

a:visited {

    color: #b3b376;
    text-decoration: none;

}

img {

    border: solid #8a8b9d 10pt;
    color: #b3b376;


}

p {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
    padding: 50px;
    box-sizing: content-box;
    font-family: 'Shadows Into Light', cursive;
    font-size: 15pt;


}

ul {

    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Indie Flower', cursive;

}

h1 {

    font-family: 'Permanent Marker', cursive;

}

h3 {

    font-family: 'Permanent Marker', cursive;

}
